input:invalid {
  border: 2px dashed red;
}
input:invalid:required {
  background-image: linear-gradient(
    to right,
    rgb(245, 140, 161),
    rgb(246, 161, 182)
  );
}
input:valid {
  border: 2px solid black;
}
label {
  font-weight: bold;
}
#submit:hover {
  background-color: rgb(100, 97, 97);
}
